{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Creates an audit template with specified parameters." %}</p>
  <p>
    <span>{% trans "Define the optimization goal to achieve, among those which are available." %}</span>
    <span>{% trans "Optionally, you can select the strategy used to achieve your goal. If not set, a strategy will be automatically selected among those which can be used for your goal" %}</span></p>
{% endblock %}
